.Body {
  margin: 0 auto;
  font-family: "Lobster", cursive;
  min-height: 1000px;
}

/*Nav Bar*/
.NavBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px 0 px 40px 0 px;
  height: 100px;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #e8a7eb;
}

.AppName {
  flex-basis: 18%;
}

.SearchBar {
  margin-left: 20px;
  flex-basis: 62%;
}
.SearchBar input {
  padding: 10px;
  margin: 10px;
}
.SearchBar label {
  margin: 10px;
}
.SumbitButton {
  width: 50px;
}
.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 20%;
}

.DropButton {
  background-color: black;
  font-size: 16px;
  padding: 20px;
  border: none;
  width: 140px;
  color: white;
  font-family: "Lobster", cursive;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.DropList {
  overflow-x: hidden;
  max-height: 300px;
  text-align: center;
  overflow: scroll;
  display: none;
  position: absolute;
  background-color: white;

  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropList a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropList::-webkit-scrollbar {
  display: none;
}

.DropList a:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.Dropdown:hover .DropList {
  display: block;
}

.Dropdown:hover .DropButton {
  background-color: #3e8e41;
}
/*End of Navbar*/

/*Champion Entry Page*/

.ChampionEntry {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;

  max-width: 1080px;
  margin: 40px auto;
  border-radius: 20px;
  color: white;
}

.ChampionImage {
  padding: 20px;
  margin: 40px 20px;
  background-color: white;
  border-radius: 20px;
  background-color: black;
}

.ChampionImage img {
  width: 756px;
  border-radius: 15px;
}
.ChampionName {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 15px;
}
.ChampionLore {
  width: 756px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  box-shadow: 0px 0px 18px yellow;
  border-radius: 15px;
  margin: 40px 0px;
  padding: 40px;
  background-color: black;
}

.ChampionAbilityList {
  display: flex;
  max-width: 1080px;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0px 0px 40px 0px;
  margin: 40px 0;
  border-radius: 15px;
}

.ChampionAbility {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-emphasis: wrap;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid white;
  background-color: black;
}
.ChampionAbilityCategory {
  font-style: italic;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
.ChampionAbilityName {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.ChampionAbilityImg {
}
.ChampionAbilityDescription {
  padding-left: 20px;
  padding-bottom: 30px;
}
.SummonerEntry {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SummonerBasicInfo {
}
.SummonerProfileIcon {
  background-color: pink;
}
.SummonerProfileIcon img {
  width: 100px;
  height: 100px;
  border: 4px solid black;
}
.SummonerNameandLevel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: orange;
}

.Ranked {
  display: flex;
  flex-direction: row;
}

.RankedList {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.MatchEntry {
  display: flex;
  flex-direction: row;
}
/* Item Entry*/
.ItemEntry {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 20px;
}
.ItemBasicInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px 0px 20px;
  text-align: center;
}
.ItemName {
  font-size: 30px;
  font-weight: bold;
}
.Itemtext {
  font-size: 25px;
  margin: 20px 0 0 0;
  font-style: italic;
}
.Itemprice {
  font-size: 15px;
  margin: 0 auto;
  padding: 10px;
}
.ItemImage {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.ItemDescription {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  max-width: 400px;
}
.ItemDescriptionheading {
  font-weight: bold;
  font-size: 23px;
}
.ItemDescription a {
  text-decoration: none;
  pointer-events: none;
}
.ItemDesc {
  margin: 0 auto;
  font-size: 17px;
}
.ItemDesc stats {
  font-style: italic;
}
.ItemDesc unique,
passive,
aura {
  font-style: italic;
  font-weight: 600;
}
.ItemForminto {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 60px 0px;
}

.ItemForminto img {
  padding: 5px;
  border-radius: 15px;
}
