.Body {
  margin: 0 auto;
  font-family: "Lobster", cursive;
  max-width: 1080px;
  min-height: 1200px;
  background-color: rgb(201, 200, 200);
}
.Footer {
  margin: 0 auto;
  max-width: 1080px;
  height: 50px;
  background-color: black;
}
/*Nav Bar*/
.NavBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px 0 px 40px 0 px;
  height: 100px;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.AppName {
  flex-basis: 18%;
  text-align: center;
}

.SearchBar {
  margin-left: 20px;
  flex-basis: 62%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.SearchBar input {
  padding: 10px;
  margin: 10px;
}
.SearchBar label {
  margin: 10px;
}
.SumbitButton {
  width: 50px;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 20%;
}

.DropButton {
  background-color: black;
  font-size: 16px;
  padding: 20px;
  border: none;
  width: 140px;
  color: white;
  font-family: "Lobster", cursive;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.DropList {
  overflow-x: hidden;
  max-height: 300px;
  text-align: center;
  overflow: scroll;
  display: none;
  position: absolute;
  background-color: white;

  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropList a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropList::-webkit-scrollbar {
  display: none;
}

.DropList a:hover {
  background-color: #aaeba7;
}

.Dropdown:hover .DropList {
  display: block;
}

.Dropdown:hover .DropButton {
  background-color: rgb(243, 91, 91);
}
/*End of Navbar*/

/*Champion Entry Page*/

.ChampionEntry {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
}

.ChampionImage {
  padding: 20px;
  margin: 20px 20px 0 20px;
  background-color: white;
  border-radius: 20px;
  background-color: black;
}

.ChampionImage img {
  width: 756px;
  border-radius: 15px;
}
.ChampionName {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 15px;
}
.ChampionLore {
  width: 756px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  border-radius: 15px;
  margin: 10px auto;
  padding: 40px;
  background-color: black;
}

.ChampionAbilityList {
  display: flex;
  max-width: 1080px;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0px 0px 40px 0px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: rgb(201, 200, 200);
  padding-left: 5px;
  padding-right: 5px;
}

.ChampionAbility {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-emphasis: wrap;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid rgb(201, 200, 200);
  background-color: black;
}
.ChampionAbilityCategory {
  font-style: italic;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
.ChampionAbilityName {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: rgb(233, 70, 70);
}

.ChampionAbilityImg {
}
.ChampionAbilityDescription {
  padding-left: 20px;
  padding-bottom: 30px;
}
.SummonerEntry {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.SummonerBasicInfo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border: 4px solid black;
  border-radius: 15px;
}
.SummonerName {
  margin: 10px auto;
}
.SummonerLevel {
  margin: 0 auto;
}
.SummonerProfileIcon {
}
.SummonerProfileIcon img {
  width: 100px;
  border: 4px solid black;
  pointer-events: none;
  border-radius: 10px;
}
.SummonerNameandLevel {
  display: flex;
  flex-direction: column;
  padding: 10px;

  align-items: center;
}
.RankedList {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px 0 0 0;
}
.Ranked {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  border: 4px solid black;
  border-radius: 15px;
  margin: 0 20px;
  padding: 10px 20px;
  background-color: black;
  width: 300px;
}
.Ranked:hover {
  background-color: rgba(240, 109, 109, 0.911);
  border-color: rgba(240, 109, 109, 0.911);
}
.RankedImage {
  flex-basis: 30%;
  align-items: center;
}
.RankedImage img {
  width: 120px;
  pointer-events: none;
}

.RankedDets {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.RankedDets h1 {
  font-size: 20px;
  margin: 0 auto;
  padding: 5px;
}
.RankedDets p {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}
/*MatchEntry*/

.MatchEntry {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid grey;
  color: black;
}
.Team2 .MatchEntry {
  flex-direction: row-reverse;
}
.PlayerChampimg {
  flex-basis: 15%;
  margin: 0 auto;
}
.PlayerChampimg img {
  width: 80px;
}
.PlayerItemandName {
  flex-basis: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.PlayerID {
}
.PlayerName {
  flex-basis: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.PlayerName p {
  font-size: 13px;
  margin: 0 auto;
}

.PlayerID {
  text-decoration: none;
  font-weight: bold;
}
.PlayerItems {
  flex-basis: 50%;
  margin: 0 10px;
}

.PlayerItems img {
  margin: 0 auto;
  width: 40px;
  border-radius: 7px;
  border: 2px solid black;
}
.PlayerSummonerSpell {
  flex-basis: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.PlayerSummonerSpell img {
  width: 35px;
  border-radius: 5px;
  flex-basis: 50%;
  padding: 2px;
}

.RecentMatch {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: black;
  border-radius: 15px;
  margin: 0 0 40px 0;
}
.SummonerRecentMatch {
  color: black;
  margin: 10px 0px 20px 0px;
}

.Team1 {
  flex-basis: 50%;
}
.Team2 {
  flex-basis: 50%;
}
/* Item Entry*/
.ItemEntry {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 20px;
}
.ItemBasicInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  text-align: center;
}
.ItemName {
  font-size: 30px;
  font-weight: bold;
}
.Itemtext {
  font-size: 25px;
  margin: 20px 0 0 0;
  padding: 5px;
  font-style: italic;
}
.Itemprice {
  font-size: 15px;
  margin: 0 auto;
  padding: 10px;
}
.ItemImage {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.ItemDescription {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  max-width: 400px;
}
.ItemDescriptionheading {
  font-weight: bold;
  font-size: 23px;
}
.ItemDescription a {
  text-decoration: none;
  pointer-events: none;
}
.ItemDesc {
  margin: 0 auto;
  font-size: 17px;
}

.ItemDesc stats {
  font-style: italic;
}
.ItemDesc unique,
passive,
aura,
active {
  font-style: italic;
  font-weight: 600;
  color: rgb(233, 70, 70);
}

.ItemForminto {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 60px 0px;
}

.ItemForminto img {
  padding: 5px;
  border-radius: 15px;
}
.HomePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.WebsiteDescription {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
}
.WebsiteDescription p {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .ChampionAbilityList {
    flex-direction: column;
  }
  .ChampionAbility {
    width: 90vw;
    margin: 0 auto;
  }
  .ChampionLore {
    width: 70vw;
  }

  .ChampionImage img {
    width: 85vw;
  }
  .ChampionAbilityDescription {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 920px) {
  .NavBar {
    flex-direction: column;
    height: 200px;
  }
  .AppName,
  .SearchBar {
    flex-basis: 30%;
  }
  .AppName {
    margin: 10px auto;
  }
  .dropDown {
    flex-basis: 40%;
  }
  .AppName {
    margin: 0 auto;
  }
  .SearchBar {
    margin: 0 auto;
  }
  .Ranked {
    width: 150px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
  }
  .Team2 .MatchEntry {
    flex-direction: row;
  }
  .RecentMatch {
    flex-direction: column;
  }
  .ChampionLore {
    font-size: 15px;
  }
  .ChampionAbilityDescription {
    font-size: 15px;
  }
  .ChampionName,
  .ChampionEntry h2 {
    font-size: 30px;
  }
  .WebsiteDescription {
    width: 90vw;
  }
  .WebsiteDescription p {
    font-size: 15px;
  }
  .HomePage h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 620px) {
  .ItemName {
    font-size: 20px;
  }
  .Itemtext {
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 3px;
  }
  .Itemprice {
    font-size: 15px;
    padding: 5px;
  }
  .ItemImage {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  .ItemDescription {
    margin: 10px 20px;
  }
  .ItemDescriptionheading {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .ItemDesc {
    font-size: 12px;
  }
  .ItemForminto img {
    padding: 2px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 520px) {
  .SearchBar {
    flex-direction: column;
  }
  .NavBar {
    height: 250px;
  }
  .ChampionName,
  .ChampionEntry h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .MatchEntry {
    height: 40px;
  }
  .PlayerChampimg img {
    width: 40px;
  }
  .PlayerName {
    padding: 1px;
  }
  .PlayerName p {
    margin: 0 auto;
    font-size: 10px;
  }
  .PlayerItems {
    flex-basis: 50%;
    margin: 0 5px;
  }
  .PlayerName {
    flex-direction: row;
  }
  .PlayerName p {
    margin: 0 15px;
  }

  .PlayerKDA p {
    font-size: 8px;
  }
  .PlayerItems img {
    width: 20px;
    border-radius: 2px;
  }
  .PlayerSummonerSpell img {
    width: 17px;
    border-radius: 2px;
  }
  .Ranked {
    height: 200px;
  }
  .RankedImage img {
    width: 80px;
  }
  .ChampionAbilityDescription {
    font-size: 12px;
  }
  .WebsiteDescription p {
    font-size: 14px;
  }
  .HomePage h1 {
    font-size: 18px;
  }
}
